%header.jumbotron.subhead#overview
  %h1 Spending Money
  %p.lead Lets spend some money, shall we?

.row
  .span4
    %blockquote
      %p
        Each year the City and
        County of San Francisco
        spends billions of dollars...

    %blockquote
      %p
        One  of the challenges each
        year is that the City must
        estimate its revenues and
        costs as far as 18 months in
        advance.


    %blockquote
      %p
        Your tax dollars go into the
        budget, and
        %strong
          public input on
          how the money is spent is vital.

      %small
        City &amp; County of San Francisco, Controller's Office

  .span8
    %dl.dl-horizontal
      %dt total revenue
      %dd== $#{number_to_human(revenue, precision:2)}


    %canvas{id:"the_graph", width:"620", height:"206"} No canvas support
    :javascript
      (function (element_name) {
        var current_revenue = "$#{number_to_human(revenue, precision:2)} total revenue";
        var your_chunk = "#{number_to_currency(your_chunk, precision:0)}";
        var revenues = #{revenues};
        var x = 10;
        var c = document.getElementById(element_name);
        var ctx = c.getContext("2d");

        // fill w/ black
        ctx.fillStyle = "#000000";
        ctx.fillRect(0, 0, 620, 206);

        // fill w/ white
        ctx.fillStyle = "#FFFFFF";
        ctx.fillRect(2, 2, 615, 201);

        ctx.fillStyle = "#000000";

        // my chunk
        ctx.font = "bold 20pt Helvetica";
        ctx.fillText("Your Chunk: " + your_chunk, 100, 100);
      }) ("the_graph");

.row
  .span8.offset2
    .hero-unit
      %h2 Where Can I Make My Voice Heard?

      .btn-toolbar
        = link_to "Get Started", functions_path, class: 'btn btn-primary btn-large'
