%header.jumbotron.subhead#overview
  %h1 Spending Money
  %p.lead The #{@current_city} needs your help to spend tax revenue. Make the best of your hard earned money.

%br
.home-page-graph{id:"users-graph", style:"width:400px;height:200px"}
.home-page-graph{id:"gov-graph", style:"width:400px;height:200px"}

.row
  .span4
    %blockquote
      %p.quote
        "Each year the City and
        County of San Francisco
        spends billions of dollars..."

    %blockquote
      %p.quote
        "One  of the challenges each
        year is that the City must
        estimate its revenues and
        costs as far as 18 months in
        advance."


    %blockquote
      %p.quote
        "Your tax dollars go into the
        budget, and
        %strong
          public input on
          how the money is spent is vital."

    %p.right
      — San Francisco, Controller's Office

  .span8
    .hero-unit
      %h2
        You have
        %span.red #{number_to_currency(@your_chunk, precision:0)}
        to spend on local programs. &nbsp; &nbsp;
        %span.btn-toolbar= link_to "Get Started Now!", spending_index_path, class: 'btn btn-primary btn-large'

:javascript
  var current_revenue = "#{number_to_human(@current_revenue, precision:2)}";
  var your_chunk = "#{number_to_currency(@your_chunk, precision:0)}";
  var revenues = #{@revenues};

  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable(revenues);

    var user_chart = new google.visualization.LineChart(document.getElementById('users-graph'));
    user_chart.draw(data, {title: "You've paid " + your_chunk, legend:{position:'none'}});

    var gov_chart = new google.visualization.LineChart(document.getElementById('gov-graph'));
    gov_chart.draw(data, {title: "City has collected " + current_revenue, legend:{position:'none'}});
  }
